// Variables

//== Colors
$color1: #000;
$color2: #fff;
$color3: #3b3b3b;
$color4: #dcdcdc;
$color5: #efd5d5;

//== Fonts
$font-type-1: 'Cormorant Garamond', serif;
$font-type-2: 'Raleway', sans-serif;

//== Font Sizing
$font-size-xs: 10px;
$font-size-sm: 15px;
$font-size-md: 20px;
$font-size-lg: 25px;