/* Import
** -------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Raleway');
@import '_variables';
@import '_header';
@import '_footer';

/* Global
** -------------------------------------- */
body{
    font-family: $font-type-2;
}

//titles
h1 {
    font-family: $font-type-1;
    font-size: 28px;
    line-height: 1.43;
    letter-spacing: -1px;
}
h2 {
    font-family: $font-type-1;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: -0.2px;
}
h3 {
    font-family: $font-type-1;
    font-size: 22px;
    line-height: 1.09;
    letter-spacing: normal;
}
h4 {
    font-family: $font-type-2;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: normal;
}
h5 {
    font-family: $font-type-1;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: normal;
}
h6 {
    font-family: $font-type-1;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: normal;
}

@media (min-width: 768px){
    /* === Titles === */
    h1 {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: -1px;
    }
    h2 {
        font-size: 30px;
        line-height: 1.07;
        letter-spacing: -0.2px;
    }
    h3 {
        font-size: 26px;
        line-height: 1.23;
        letter-spacing: normal;
    }
    h4 {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: normal;
    }
    h5 {
        font-size: 16px;
        line-height: 1;
        letter-spacing: normal;
    }
    h6 {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: normal;
    }
}

@media (min-width: 992px){
    /* === Titles === */
    h1 {
        font-size: 48px;
        line-height: 1.17;
        letter-spacing: -1px;
    }
    h2 {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: -0.2px;
    }
    h3 {
        font-size: 30px;
        line-height: 1.07;
        letter-spacing: normal;
    }
    h4 {
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
    }
    h5 {
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: normal;
    }
    h6 {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: normal;
    }
}